# --- Core Networking & Packet Manipulation ---
scapy==2.5.0
netifaces==0.11.0

# --- Web Interface & Backend ---
Flask==3.0.0

# --- Data Analysis & Anomalies Detection ---
numpy==1.26.0

# --- System & Utilities ---
psutil==5.9.5
